/* stili generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;

}

/* stili mobile first */

/* stili header */

header{
    background-color:#0084fd ;
    position: fixed;
    width: 100%;
    z-index: 500;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
}

#navbar{
    display: flex;
    list-style-type: none;
    display: none;
}

.link-nav{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.button{
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}

.fa-bars{
    font-size: 20px;
}

/* header desktop version */

@media all and (min-width:1200px){
    #navbar{
        display: block;
        display: flex;
    }

    #fa-bars{
        display: none;
    }

}






/* stili planning */

section{
    padding: 50px 0;
}

.planning{
    padding-top: 100px;
}

.planning .col{
    background-color: #b5ddff;
    padding-top: 20px;
    border-radius: 15px;
    color: gray;
    margin: 40px 0;
    text-align: center;
}

#phone .text-col{
    width: 73%;
    margin: 0 auto;
    text-align: start;
}

.col h2{
    font-size: 25px;
    color: #0084fd;
}

.col p{
    padding: 20px 0;
}

.planning .button{
    color: white;
    background-color: #0084fd;
    font-size: 20px;
    padding: 10px 90px;
}

.fa-apple{
    margin-right: 10px;
}
#app-store{
    margin: 20px 0;
}

.img img{
    margin-top: 20px;
    width: 100%;
}

.planning .fa-solid{
    color: #0084fd;
    font-size: 100px;
    margin-bottom: 20px;
}

/* planning tablet version */
@media all  and  (min-width:768px){

    .planning .row{
        display: flex;
        flex-wrap: wrap;
    }

    .planning .col{
        width: calc((100% / 3 ) - 20px);
        margin: 10px;
    }

    #phone{
        width: calc(((100% / 3) * 2) - 20px );
    }

}

/* planning desktop version */

@media all and (min-width:1200px){
     .container{
        max-width: 1100px;
    } 

    #phone{
        display: flex;
    }
}





/* stili strategic planning */

#strategic-planning{
    background-color: #9593e6;
    color: white;
}

#strategic-planning h2{
    color: white;
    margin: 30px 0;
}

#app-development{
    background-color: white;
    color: black;
    border-radius: 45px;
    text-align: center;
}

#app-development .text-col{
    margin: 20px 0;
}

.fa-down-long{
    color: black;
    background-color: #9593e6;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}


/* strategic planning desktop version */
 @media all and (min-width:1200px){
    #strategic-planning .row{
        display: flex;
    }


    #app-development{
     width: 70%;
     align-self: flex-end;
    }
 }   






/* stili testimonial */

#testimonials{
    text-align: center;
}
#testimonials span{
    font-size: 20px;
}

#testimonials h2{
    color: #9593e6;
    font-size: 30px;
    margin-bottom: 20px;
}
 #testimonials .img img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;

}

#testimonials .col{
    background-color: #9593e6;
    color: white;
    text-align: center;
    padding: 20px 10px;
    border-radius: 25px;
    margin: 30px 0;
}

/* testimonials tablet version */

@media all and (min-width:768px){
    #testimonials .col{
        display: flex;
    }

    #testimonials .text-col{
        text-align: start;
        padding-left: 30px;
    }

}


/* stili benefits */

#benefits{
    background-color: #9593e6;
    text-align: center;
}

#benefits h2{
    color: white;
    font-size: 43px;
    margin-bottom: 30px;
}

#benefits .col{
    background-color: white;
    border-radius: 25px;
    text-align: start;
    padding: 30px 20px;
    margin: 30px 0;
}

.col-benefits span{
    font-size: 40px;
    color: #9593e6;
}

.col-benefits h4{
    color: #9593e6;
    margin-top: 30px;
    font-size: 25px;
}

.col-benefits p{
    color: gray;
}

.col-benefits a{
    text-decoration: none;
    color: white;
    background-color: #9593e6;
    padding: 10px 50px;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
}

/* benefits tablet-version */
@media all and (min-width:768px){
    #benefits .row{
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .col{
        width: calc((100% / 2) - 20px);
        margin: 10px;
    }
}

/* benefits desktop-version */
@media all and (min-width:1200px){
    #benefits .col{
        width: calc((100% / 3) - 20px);
        margin: 10px;
        }

}

/* stili about us */

#about-us .img img{
   width: 150px;
   height: 150px;
   margin: 20px auto;
   border-radius: 50%;
   position: relative;
}

.fa-quote-left{
    color: #9593e6;
    font-size: 50px;
    position: absolute;
    left: 120px;
}

#about-us a{
    text-decoration: none;
    color: white;
    background-color: #9593e6;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

.fa-linkedin{
    margin-right: 10px;
}

#about-us h2{
    color: #9593e6;
    margin-bottom: 30px;

}

/* about us tablet version */
@media all and (min-width:768px){
    #about-us .row{
        display: flex;
        justify-content: space-between;
    }

    #about-us .col{
      width: 40%;
    }

    .fa-quote-left{
        left:560px;
    }

}

/* stili get started */

#get-started{
    text-align: center;
    background-color: #9593e6;
    color: white;
}

#get-started *{
    margin-bottom: 20px;
}

#get-started h3{
    margin-top: 20px;
    font-size: 30px;
}

#get-started h2{
    font-size: 90px;
    color: #e8b971;
}

#get-started p{
    margin-bottom: 50px;
}

#get-started .button{
    color: #9593e6;
    font-size: 20px;
    padding: 15px 90px;
    border-radius: 40px;
}

#copyright{
    margin-top: 50px;
}

#copyright a{
    color: white;
}

/* stili footer */

footer{
    background-color:#333333 ;
    color: white;
    padding: 30px 0;
    text-align: center;
}

footer p{
    margin-bottom: 50px;

}

footer a{
    color: #9593e6;

}